checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false

log.level=EUA
wss.url=https://saas.whitesourcesoftware.com/agent
apiKey=

projectName=zenbot-master
#projectVersion=
#projectToken=

productName=zenbot-master

#productVersion=
#productToken=
includes=**/*.js  
#excludes=
case.sensitive.glob=false
followSymbolicLinks=true

#proxy.host=[proxy IP]
#proxy.port=[proxy port]
#proxy.user=[username]
#proxy.pass=[password]

#------------------------- JavaScript EUA config
resolveAllDependencies=false
enableImpactAnalysis=true 
requireKnownSha1=false
npm.includeDevDependencies=true
npm.resolveDependencies=true
npm.ignoreNpmLsErrors=true
npm.resolveMainPackageJsonOnly=true
npm.identifyByNameAndVersion=false
npm.resolveAdditionalDependencies=true
npm.projectNameFromDependencyFile=true









